<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!-- Estas variables tienen que venir del .dll que referencie a este ensamblado -->
    <add key="ServiceName" value="AndoIt.Common.ExampleTest.Local"/>
    <add key="ServiceDescription" value="Servicio de test y ejemplo usando el Common.Service"/>
    <add key="assemblyName" value="AndoIt.Common.Service.ExampleTest.dll"/>
    <add key="namespaceDotClassName" value="AndoIt.Common.Service.ExampleTest.Process"/>
  </appSettings>
</configuration>
